[Unit]
Description=Nono, voice assistent command tool.
After=default.target

[Service]
WorkingDirectory=/absolute-path/nono
ExecStart=/absolute-path/nono/venv/bin/python main.py
Restart=always

[Install]
WantedBy=default.target
